

.header_cont {
    display: flex;
    flex-direction: column;

}

.header_title {
    font-size: 2rem;
    margin: 10px;
    width: 250px;

    text-align: center;
    cursor: grab;
    user-select: none;
}

.header_phase {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid grey;
    
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.header_phase:hover {
    background-color: #D3D3D3;
}

.header_phase:active {
    background-color: black;
    color: white;
}