
.content_wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content_cont {

    width: 85%;
    height: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.header_cont {

    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    cursor: pointer;
    
}

.header_title {

    text-align: center;

}

.header_info {

    text-align: center;

}

.board_cont {

    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    height: 33%;

    display: flex;
}

.cell {
    width: 33%;
    height: 100%;

    font-size: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}